<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website </title>
</head>
<body>
     website  banwa lo mere bhai jaldi free ho jao
     <p>Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Eaque fuga dolore perferendis
        
        nobis quaerat architecto. Error quod, eum quaerat 
         culpa non omnis tempore! Blanditiis dicta nam quo
          dolorem ipsa!</p>
    
</body>
</html>